<!DOCTYPE html>
<html>
<head>

    <title>智飨科技食品餐饮安全网管理后台</title>

    <!--告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。  -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="智飨科技-食品餐饮安全网 " />

    <meta name="author" content="hhp" />

    <!-- 网站关键字，排名关键 -->
    <meta name="keyword" content="智能化餐饮,智飨科技,物联网,食品安全,智能厨房,家宴,餐饮标准化管理" />

    <!-- 设置标签栏公司logo -->
    <link rel="icon" href="/images/logo1.png" type="image/x-icon"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- 字体图标font-class引用方式 -->
    <link href="//at.alicdn.com/t/font_1057246_u2d3dw2dcvf.css" rel="stylesheet" type="text/css" />

    <script type="application/x-javascript">
        addEventListener("load",
            function() {
                setTimeout(hideURLbar, 0);
            }, false
        );
        function hideURLbar(){
            window.scrollTo(0,1);
        }
    </script>
    <!-- 科技背景css -->
    <link href="css/common/background/technology.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="/css/common/bootstrap/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- 菜单拖拽css -->
    <link href="css/3DMenu/3dMenu.css" rel="stylesheet">

    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/js/common/jquery/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <!--<link href="http://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">-->
    <!-- //web-fonts -->
</head>

<script type="text/javascript" src="/js/common/background/technology.html.js"></script>

<body id="skin-blur-violate" style="background-image: none;background: #181818;">
<div class="copyrights" style="display: none">
    <span id="teShiro" style="display:none"><shiro:principal property="username"></shiro:principal></span>
    <span id="teShiro2" style="display:none"><shiro:principal property="insertTime"></shiro:principal></span>
</div>
<nav id="nav" role='navigation'>
    <ul id="cube">
        <li class="side">
            <ul>
                <li></li>
                <li></li>
                <li class="home"><i class="myTableTooltip iconfont iconpingtaitongyiguankong icon-2x" style="color: rgba(255, 255, 255, 0.3);font-size: 2em;" title='控制中心'></i></li>
                <li class="about"><i class="iconfont icongeren icon-2x  myTableTooltip" style="font-size: 2em;" title='人员管理'></i></li>
                <li class="shop"><i class="iconfont iconditu2 icon-2x myTableTooltip" style="font-size: 2em;" title='站点管理'></i></li>
                <li class="social" style="padding-top: 0px;"><i class="iconfont icontiezi icon-2x myTableTooltip" style="font-size: 2em;" title='站点服务延期列表管理'></i></li>
            </ul>
        </li>
        <li class="side">
            <ul>
                <li><i class="iconfont iconpingtaitongyiguankong icon-2x myTableTooltip" style="font-size: 2em;" title='控制中心'></i></li>
                <li></li>
                <li class="shop"><i class="myTableTooltip iconfont iconditu2 icon-2x" style="font-size: 2em;color: rgba(255, 255, 255, 0.3);" title='站点管理'></i></li>
                <a href="/site/getSites" style="color: #fff;"><li class="shop"><i class="myTableTooltip iconfont iconearthplanetsp icon-2x" style="font-size: 2em;" title='设置站点信息'></i></li></a>
                <!--<li class="shop"><i class="icon-rocket icon-2x"></i><span>Rockets</span></li>
                <li class="shop"><i class="icon-gift icon-2x"></i><span>Gifts</span></li>
                <li class="shop"><i class="icon-beer icon-2x"></i><span>BEER</span></li>
                <li class="shop"><i class="icon-mobile-phone icon-2x"></i><span>Mobiles</span></li>
                <li class="shop"><i class="icon-female icon-2x"></i><span>Wifes</span></li>-->
            </ul>
        </li>
        <li class="side">
            <ul>
                <!--<li><i class="iconfont iconshezhi icon-2x myTableTooltip" style="font-size: 2em;" title='返回'></i></li>
                <li></li>
                <li class="misc"><i class="round icon-asterisk icon-2x"></i></li>
                <li class="misc" data-url="patternwall.net"><i class="icon-th icon-2x"></i><span>Patternwall</span></li>-->
            </ul>
        </li>
        <li class="side">
            <ul>
                <li><i class="iconfont iconpingtaitongyiguankong icon-2x myTableTooltip" style="font-size: 2em;" title='控制中心'></i></li>
                <li></li>
                <li class="about"><i class="iconfont icongeren icon-2x  myTableTooltip" style="font-size: 2em;color: rgba(255, 255, 255, 0.3);" title='人员管理'></i></li>
                <li class="about"><i class="iconfont iconshejiao icon-2x  myTableTooltip" style="font-size: 2em;" title='所有人员管理'></i></li>
                <!--<li class="about"><i class="icon-group icon-2x"></i><span>Our team</span></li>-->
            </ul>
        </li>
        <li class="side">
            <ul>
                <!--<li class="social"><i class="icon-chevron-left icon-2x"></i><span><br />Back</span></li>
                <li class="dribbble"><h3>Dribbble</h3></li>
                <li class="dribbble"><i class="icon-dribbble icon-2x round"></i></li>
                <li></li>
                <li class="dribbble" data-url="dribbble.com/Vaddo"><i class="icon-dribbble icon-4x"></i></li>
                <li></li>
                <li class="dribbble" data-url="dribbble.com/Vaddo"><p>I would like to join Dribbble :)<br /> Could somebody invite me please?</p></li>-->
            </ul>
        </li>
        <li class="side">
            <ul>
                <li><i class="iconfont iconpingtaitongyiguankong icon-2x myTableTooltip" style="font-size: 2em;" title='控制中心'></i></li>
                <li></li>
                <li class="social"><i class="iconfont icontiezi icon-2x  myTableTooltip" style="font-size: 2em;color: rgba(255, 255, 255, 0.3);" title='站点服务延期列表管理'></i></li>
                <!--<li class="social" data-url="github.com/Vaddo"><i class="iconfont iconfujin icon-2x myTableTooltip" style="font-size: 2em;" title='服务延期管理'></i></li>-->
                <li class="social" data-url="twitter.com/vadimhermann"><i class="iconfont icontiezi icon-2x myTableTooltip" style="font-size: 2em;" title='服务延期列表'></i></li>
                <!--<li class="dribbble" data-url="click!"><i class="icon-dribbble icon-2x"></i><span>Dribbble</span></li>
                <li class="social" data-url="xing.com/profile/Vadim_Hermann"><i class="icon-xing icon-2x"></i><span>XING</span></li>-->
            </ul>
        </li>
    </ul>
</nav>
<!-- //login-page -->
<!-- subscribe -->

<!-- 返回顶部 -->
<div class="toTopRocket"><a href="javascript:void(0);" title="返回顶部"></a></div>
<!--<script type="text/javascript" src="/js/common/foot/foot.js"></script>-->
<!-- //footer -->
<!-- symbol引用（支持多色图标） 改为自己在线项目的地址 -->
<script src="//at.alicdn.com/t/font_1057246_u2d3dw2dcvf.js"></script>
<!-- //cart-js -->
<!-- start-smooth-scrolling -->
<script src="/js/common/smoothScroll/SmoothScroll.min.js"></script>
<!--<script type="text/javascript" src="/js/common/moveTop/move-top.js"></script>-->

<!-- UX -->
<script src="js/scroll.min.js"></script> <!-- Custom Scrollbar -->

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
        $("#myTechSpan").attr("margin-bottom","none");
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->

<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/common/bootstrap/bootstrap.js"></script>

<!-- 背景js -->
<script type="text/javascript" src="/js/common/background/technology.js"></script>
<!-- 菜单拖拽js -->
<script src="/js/3DMenu/3dMenu.js" type="text/javascript"></script>
<script src="/js/common/myCommon.js" type="text/javascript"></script>

</body>
</html>