<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.jygs.gszz.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.jygs.gszz.Business" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="registration" property="registration" jdbcType="VARCHAR" />
    <result column="legalrepresentative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="registeredcapital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="companyname" property="companyName" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="VARCHAR" />
    <result column="businessscope" property="businessScope" jdbcType="VARCHAR" />
    <result column="maintypes" property="mainTypes" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="accountid" property="accountId" jdbcType="INTEGER" />
    <result column="circulationcardimg" property="circulationCardImg" jdbcType="VARCHAR" />
    <result column="licenceimg" property="licenceImg" jdbcType="VARCHAR" />
    <result column="earlywarningtime" property="earlyWarningTime" jdbcType="VARCHAR" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, registration, legalrepresentative, registeredcapital,companyname,address,deadline,businessscope,maintypes,path,
    accountid,licenceimg,earlywarningtime,circulationcardimg,sdid
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="registration != null and registration != ''" >
        registration,
      </if>
      <if test="legalRepresentative != null and legalRepresentative != ''" >
        legalrepresentative,
      </if>
      <if test="registeredCapital != null and registeredCapital != ''" >
        registeredcapital,
      </if>
      <if test="companyName != null and companyName != ''" >
        companyname,
      </if>
      <if test="address != null and address != ''" >
        address,
      </if>
      <if test="deadline != null and deadline != ''" >
        deadline,
      </if>
      <if test="businessScope != null and businessScope != ''" >
        businessscope,
      </if>
      <if test="mainTypes != null and mainTypes != ''" >
        maintypes,
      </if>
      <if test="path != null and path != ''" >
        path,
      </if>
      <if test="accountId != null" >
        accountid,
      </if>
      <if test="licenceImg != null and licenceImg != ''" >
        licenceimg,
      </if>
      <if test="circulationCardImg != null and circulationCardImg != ''" >
        circulationcardimg,
      </if>
      <if test="earlyWarningTime != null and earlyWarningTime != ''" >
        earlywarningtime,
      </if>
      <if test="sdId != null" >
        sdid,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="registration != null and registration != ''" >
        #{registration},
      </if>
      <if test="legalRepresentative != null and legalRepresentative != ''" >
        #{legalRepresentative},
      </if>
      <if test="registeredCapital != null and registeredCapital != ''" >
        #{registeredCapital},
      </if>
      <if test="companyName != null and companyName != ''" >
        #{companyName},
      </if>
      <if test="address != null and address != ''" >
        #{address},
      </if>
      <if test="deadline != null and deadline != ''" >
        #{deadline},
      </if>
      <if test="businessScope != null and businessScope != ''" >
        #{businessScope},
      </if>
      <if test="mainTypes != null and mainTypes != ''" >
        #{mainTypes},
      </if>
      <if test="path != null and path != ''" >
        #{path},
      </if>
      <if test="accountId != null" >
        #{accountId},
      </if>
      <if test="licenceImg != null and licenceImg != ''" >
        #{licenceImg},
      </if>
      <if test="circulationCardImg != null and circulationCardImg != ''" >
        #{circulationCardImg},
      </if>
      <if test="earlyWarningTime != null and earlyWarningTime != ''" >
        #{earlyWarningTime},
      </if>
      <if test="sdId != null" >
        #{sdId},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="registration != null and registration != ''" >
        registration = #{registration,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null and legalRepresentative != ''" >
        legalrepresentative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null and registeredCapital != ''" >
        registeredcapital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null and companyName != ''" >
        companyname = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null and deadline != ''" >
        deadline = #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null and businessScope != ''" >
        businessscope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="mainTypes != null and mainTypes != ''" >
        maintypes = #{mainTypes,jdbcType=VARCHAR},
      </if>
      <if test="path != null and path != ''" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        accountid = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="licenceImg != null and licenceImg != ''" >
        licenceimg = #{licenceImg,jdbcType=VARCHAR},
      </if>
      <if test="circulationCardImg != null and circulationCardImg != ''" >
        circulationcardimg = #{circulationCardImg,jdbcType=VARCHAR},
      </if>
      <if test="earlyWarningTime != null and earlyWarningTime != ''" >
        earlywarningtime = #{earlyWarningTime,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        sdid = #{sdId,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!-- 获取已上传营业执照数量 start -->
  <select id="findTotal" resultType="java.lang.Integer">
    SELECT
        COUNT(id)
    FROM business
    <where>
      <if test="sdId != null">
        AND sdid = #{sdId}
      </if>
    </where>
  </select>
  <!-- 获取已上传营业执照数量 end -->

  <!--平台营业执照 start-->
  <select id="findBusInfoBySdId" resultType="java.util.Map">
    SELECT
      COUNT(id) dataCount,
      path imgPath,
      #{siteName} siteName,
      #{sitePhoto} sitePhoto
    FROM
      business
    LIMIT 0,1
  </select>
  <!--平台营业执照 start-->

  <!--平台今日体温合格/不合格数据 start-->
  <select id="findQualifiedTotal" resultType="java.lang.Integer">
    SELECT
    COUNT(id) count
    FROM
    pepoletemp
    <where>
      <!-- 大于somtempStart为不合格数据 -->
      <if test="somtempStart != null and somtempStart != ''">
        AND somtemp &gt; #{somtempStart}
      </if>
      <!-- 小于等于somtempEnd为合格数据 -->
      <if test="somtempEnd != null and somtempEnd != ''">
        AND somtemp &lt;= #{somtempEnd}
      </if>
      AND DATE_FORMAT( date, '%Y%m%d' ) = DATE_FORMAT( CURDATE( ) , '%Y%m%d' )
      /*GROUP BY DATE_FORMAT(date, '%Y-%m-%d')
      ORDER BY date ASC*/
    </where>
    /*where detection_status = '2' AND type = '1' detection_status = '2' AND type = '1' AND createtime &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:01')
    AND createtime &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')*/
  </select>
  <!--平台今日体温合格/不合格数据 start-->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findByIdSdId" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname ingredientName,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changetime changetTime,
    lc.changemode changeMode
    FROM librarychange lc
    LEFT JOIN
      ingredientbase ib
    ON
      lc.ingredientbaseid = ib.id
    WHERE lc.id=#{id} AND lc.sdid = #{sdId}
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- CONCAT_WS(')',CONCAT_WS('(',CONCAT_WS('：',changetTime,ingredientName),meteringName),'') title, -->
  <!-- 根据日期查询库存信息 start -->
  <select id="findLibraryChanges" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname title,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changemode changeMode,
    lc.changetime start,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    lc.sdid sdId,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM librarychange lc
    LEFT JOIN
    ingredientbase ib
    ON
    lc.ingredientbaseid = ib.id
    <where>
      <if test="ingredientBaseId!=null">
        AND lc.ingredientbaseid = #{ingredientBaseId}
      </if>
      <if test="changeMode != null and changeMode != ''" >
        AND lc.changemode = #{changeMode}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND lc.changetime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lc.changetime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY lc.id DESC
  </select>
  <!-- 根据日期查询库存信息 end -->

  <!-- 分页查询库存信息总条数 start -->
  <select id="findLibraryPurchasesTotal" resultType="java.lang.Integer">
    SELECT
    count(lp.id)
    FROM librarypurchase lp
    LEFT JOIN
    ingredientbase ingBase
    ON
    lp.ingredientbaseid = ingBase.id
    LEFT JOIN
    categorybase cb1
    ON
    ingBase.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ingBase.smallcategoryid = cb2.id
    <where>
      <if test="startTime!=null and startTime!=''">
        AND lp.purchtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lp.purchtime &lt;= #{endTime}
      </if>
      <if test="mainCategoryId!=null">
        AND ingBase.maincategoryid =#{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ingBase.smallcategoryid =#{smallCategoryId}
      </if>
    </where>
  </select>
  <!-- 分页查询库存信息总条数 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->


</mapper>