<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.qppr.prcz.CookingWeightMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.qppr.prcz.CookingWeight" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ingredientid" property="ingredientId" jdbcType="INTEGER" />
    <result column="weighedtime" property="weighedTime" jdbcType="VARCHAR" />
    <result column="weighedquantity" property="weighedQuantity" jdbcType="DECIMAL" />
    <result column="isnormal" property="isNormal" jdbcType="INTEGER" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ingredientid, weighedtime, weighedquantity,isnormal,standard,sdid
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="ingredientId != null" >
        ingredientid,
      </if>
      <if test="weighedTime != null and weighedTime != ''" >
        weighedtime,
      </if>
      <if test="weighedQuantity != null" >
        weighedquantity,
      </if>
      <if test="isNormal != null" >
        isnormal,
      </if>
      <if test="standard != null and standard != ''" >
        standard,
      </if>
      <if test="sdId != null" >
        sdid,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="ingredientId != null" >
        #{ingredientId},
      </if>
      <if test="weighedTime != null and weighedTime != ''" >
        #{weighedTime},
      </if>
      <if test="weighedQuantity != null" >
        #{weighedQuantity},
      </if>
      <if test="isNormal != null" >
        #{isNormal},
      </if>
      <if test="standard != null and standard != ''" >
        #{standard},
      </if>
      <if test="sdId != null" >
        #{sdId},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="ingredientId != null" >
        ingredientid = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="weighedTime != null and weighedTime != ''" >
        weighedtime #{weighedTime,jdbcType=VARCHAR},
      </if>
      <if test="weighedQuantity != null" >
        weighedquantity = #{weighedQuantity,jdbcType=DECIMAL},
      </if>
      <if test="isNormal != null" >
        isnormal = #{isNormal,jdbcType=INTEGER},
      </if>
      <if test="standard != null and standard != ''" >
        standard #{standard,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        sdid = #{sdId,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!-- 获取出库未审签单总数 start -->
  <select id="findTotalEmploymentViolation" resultType="java.lang.Integer">
    SELECT
        COUNT(id)
    FROM cookingweight
    WHERE isnormal = 2 AND weighedtime &gt;= DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:01')
      AND weighedtime &lt; DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
  </select>
  <!-- 获取出库未审签单总数 end -->

  <!--获取食材入库重量 start-->
  <select id="findWeightByIngBaseId" resultType="java.util.Map">
    SELECT
    IFNULL(SUM(weighedquantity),0.0) foodWeight,
    IFNULL(AVG(standard),0.0) standard
    FROM
    cookingweight
    <where>
      AND ingredientid = #{ingredientId}
      <if test="startTime!=null and startTime!=''">
        AND weighedtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND weighedtime &lt;= #{endTime}
      </if>
    </where>
  </select>
  <!--获取食材入库重量 end-->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findByIdSdId" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname ingredientName,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changetime changetTime,
    lc.changemode changeMode
    FROM librarychange lc
    LEFT JOIN
      ingredientbase ib
    ON
      lc.ingredientbaseid = ib.id
    WHERE lc.id=#{id} AND lc.sdid = #{sdId}
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- CONCAT_WS(')',CONCAT_WS('(',CONCAT_WS('：',changetTime,ingredientName),meteringName),'') title, -->
  <!-- 根据日期查询库存信息 start -->
  <select id="findLibraryChanges" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname title,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changemode changeMode,
    lc.changetime start,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    lc.sdid sdId,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM librarychange lc
    LEFT JOIN
    ingredientbase ib
    ON
    lc.ingredientbaseid = ib.id
    <where>
      <if test="ingredientBaseId!=null">
        AND lc.ingredientbaseid = #{ingredientBaseId}
      </if>
      <if test="changeMode != null and changeMode != ''" >
        AND lc.changemode = #{changeMode}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND lc.changetime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lc.changetime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY lc.id DESC
  </select>
  <!-- 根据日期查询库存信息 end -->

  <!-- 分页查询库存信息总条数 start -->
  <select id="findLibraryPurchasesTotal" resultType="java.lang.Integer">
    SELECT
    count(lp.id)
    FROM librarypurchase lp
    LEFT JOIN
    ingredientbase ingBase
    ON
    lp.ingredientbaseid = ingBase.id
    LEFT JOIN
    categorybase cb1
    ON
    ingBase.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ingBase.smallcategoryid = cb2.id
    <where>
      <if test="startTime!=null and startTime!=''">
        AND lp.purchtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lp.purchtime &lt;= #{endTime}
      </if>
      <if test="mainCategoryId!=null">
        AND ingBase.maincategoryid =#{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ingBase.smallcategoryid =#{smallCategoryId}
      </if>
    </where>
  </select>
  <!-- 分页查询库存信息总条数 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->


</mapper>