<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.jybb.kcpdbbsq.IwarekCPDMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.jybb.kcpdbbsq.IwarekCPD" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="warerecordids" property="wareRecordIds" jdbcType="VARCHAR" />
    <result column="reporttime" property="reportTime" jdbcType="VARCHAR" />
    <result column="reportpersion" property="reportPersion" jdbcType="VARCHAR" />
    <result column="reportpersionid" property="reportPersionId" jdbcType="INTEGER" />
    <result column="reportstatus" property="reportStatus" jdbcType="VARCHAR" />
    <result column="hidestatus" property="hideStatus" jdbcType="VARCHAR" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, warerecordids, reporttime, reportpersion,reportpersionid,reportstatus,hidestatus,sdid
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="wareRecordIds != null and wareRecordIds != ''" >
        warerecordids,
      </if>
      <if test="reportTime != null and reportTime != ''" >
        reporttime,
      </if>
      <if test="reportPersion != null and reportPersion != ''" >
        reportpersion,
      </if>
      <if test="reportPersionId != null" >
        reportpersionid,
      </if>
      <if test="reportStatus != null and reportStatus != ''" >
        reportstatus,
      </if>
      <if test="hideStatus != null and hideStatus != ''" >
        hidestatus,
      </if>
      <if test="sdId != null" >
        sdid,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="wareRecordIds != null and wareRecordIds != ''" >
        #{wareRecordIds},
      </if>
      <if test="reportTime != null and reportTime != ''" >
        #{reportTime},
      </if>
      <if test="reportPersion != null and reportPersion != ''" >
        #{reportPersion},
      </if>
      <if test="reportPersionId != null" >
        #{reportPersionId},
      </if>
      <if test="reportStatus != null and reportStatus != ''" >
        #{reportStatus},
      </if>
      <if test="hideStatus != null and hideStatus != ''" >
        #{hideStatus},
      </if>
      <if test="sdId != null" >
        #{sdId},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="wareRecordIds != null and wareRecordIds != ''" >
        warerecordids = #{wareRecordIds,jdbcType=VARCHAR},
      </if>
      <if test="reportTime != null and reportTime != ''" >
        reporttime = #{reportTime,jdbcType=VARCHAR},
      </if>
      <if test="reportPersion != null and reportPersion != ''" >
        reportpersion = #{reportPersion,jdbcType=VARCHAR},
      </if>
      <if test="reportPersionId != null" >
        reportpersionid= #{reportPersionId,jdbcType=INTEGER},
      </if>
      <if test="reportStatus != null and reportStatus != ''" >
        reportstatus = #{reportStatus,jdbcType=VARCHAR},
      </if>
      <if test="hideStatus != null and hideStatus != ''" >
        hidestatus = #{hideStatus,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        sdid= #{sdId,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findTrialSigningCount" resultType="java.lang.Integer">
    SELECT
      COUNT(id)
    FROM iwarekcpd
    WHERE hidestatus = '1'
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findTotalBySdIdStatus" resultType="java.lang.Integer">
    SELECT
      COUNT(id)
    FROM iwarekcpd
    <where>
      <if test="reportStatus != null and reportStatus != ''">
        AND reportstatus = #{reportStatus}
      </if>
      <if test="reportStatus == null">
        AND reportstatus = '1' OR reportstatus = '3'
      </if>
    </where>
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findByIdSdId" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname ingredientName,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changetime changetTime,
    lc.changemode changeMode
    FROM librarychange lc
    LEFT JOIN
      ingredientbase ib
    ON
      lc.ingredientbaseid = ib.id
    WHERE lc.id=#{id} AND lc.sdid = #{sdId}
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- CONCAT_WS(')',CONCAT_WS('(',CONCAT_WS('：',changetTime,ingredientName),meteringName),'') title, -->
  <!-- 根据日期查询库存信息 start -->
  <select id="findLibraryChanges" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname title,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changemode changeMode,
    lc.changetime start,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    lc.sdid sdId,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM librarychange lc
    LEFT JOIN
    ingredientbase ib
    ON
    lc.ingredientbaseid = ib.id
    <where>
      <if test="ingredientBaseId!=null">
        AND lc.ingredientbaseid = #{ingredientBaseId}
      </if>
      <if test="changeMode != null and changeMode != ''" >
        AND lc.changemode = #{changeMode}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND lc.changetime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lc.changetime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY lc.id DESC
  </select>
  <!-- 根据日期查询库存信息 end -->

  <!-- 分页查询库存信息总条数 start -->
  <select id="findLibraryPurchasesTotal" resultType="java.lang.Integer">
    SELECT
    count(lp.id)
    FROM librarypurchase lp
    LEFT JOIN
    ingredientbase ingBase
    ON
    lp.ingredientbaseid = ingBase.id
    LEFT JOIN
    categorybase cb1
    ON
    ingBase.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ingBase.smallcategoryid = cb2.id
    <where>
      <if test="startTime!=null and startTime!=''">
        AND lp.purchtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lp.purchtime &lt;= #{endTime}
      </if>
      <if test="mainCategoryId!=null">
        AND ingBase.maincategoryid =#{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ingBase.smallcategoryid =#{smallCategoryId}
      </if>
    </where>
  </select>
  <!-- 分页查询库存信息总条数 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->


</mapper>