<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.cgcc.schz.LibraryChangeMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.cgcc.schz.LibraryChange" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ingredientbaseid" property="ingredientBaseId" jdbcType="INTEGER" />
    <result column="changemode" property="changeMode" jdbcType="VARCHAR" />
    <result column="changenumber" property="changeNumber" jdbcType="DECIMAL" />
    <result column="changebatch" property="changeBatch" jdbcType="INTEGER" />
    <result column="changeremarks" property="changeRemarks" jdbcType="VARCHAR" />
    <result column="changepeople" property="changePeople" jdbcType="VARCHAR" />
    <result column="changepeopleid" property="changePeopleId" jdbcType="INTEGER" />
    <result column="changetime" property="changeTime" jdbcType="VARCHAR" />
    <result column="changeprice" property="changePrice" jdbcType="DECIMAL" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ingredientbaseid, changemode, changenumber,changebatch,changeremarks,changepeople,changepeopleid,changetime,changeprice,sdid
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="ingredientBaseId != null" >
        ingredientbaseid,
      </if>
      <if test="changeMode != null and changeMode != ''" >
        changemode,
      </if>
      <if test="changeNumber != null" >
        changenumber,
      </if>
      <if test="changeBatch != null" >
        changebatch,
      </if>
      <if test="changeRemarks != null and changeRemarks != ''" >
        changeremarks,
      </if>
      <if test="changePeople != null and changePeople != ''" >
        changepeople,
      </if>
      <if test="changePeopleId != null" >
        changepeopleid,
      </if>
      <if test="changeTime != null and changeTime != ''" >
        changetime,
      </if>
      <if test="changePrice != null" >
        changeprice,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="ingredientBaseId != null" >
        #{ingredientBaseId},
      </if>
      <if test="changeMode != null and changeMode != ''" >
        #{changeMode},
      </if>
      <if test="changeNumber != null" >
        #{changeNumber},
      </if>
      <if test="changeBatch != null" >
        #{changeBatch},
      </if>
      <if test="changeRemarks != null and changeRemarks != ''" >
        #{changeRemarks},
      </if>
      <if test="changePeople != null and changePeople != ''" >
        #{changePeople},
      </if>
      <if test="changePeopleId != null" >
        #{changePeopleId},
      </if>
      <if test="changeTime != null and changeTime != ''" >
        #{changeTime},
      </if>
      <if test="changePrice != null" >
        #{changePrice},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="ingredientBaseId != null" >
        ingredientbaseid = #{ingredientBaseId,jdbcType=INTEGER},
      </if>
      <if test="changeMode != null and changeMode != ''" >
        changemode = #{changeMode,jdbcType=VARCHAR},
      </if>
      <if test="changeNumber != null" >
        changenumber = #{changeNumber,jdbcType=DECIMAL},
      </if>
      <if test="changeBatch != null" >
        changebatch = #{changeBatch,jdbcType=INTEGER},
      </if>
      <if test="changeRemarks != null and changeRemarks != ''" >
        changeremarks = #{changeRemarks,jdbcType=VARCHAR},
      </if>
      <if test="changePeople != null and changePeople != ''" >
        changepeople = #{changePeople,jdbcType=VARCHAR},
      </if>
      <if test="changePeopleId != null" >
        changepeopleid = #{changePeopleId,jdbcType=INTEGER},
      </if>
      <if test="changeTime != null and changeTime != ''" >
        changetime = #{changeTime,jdbcType=VARCHAR},
      </if>
      <if test="changePrice != null" >
        changeprice = #{changePrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!-- 根据试点id主表id获取食材核准信息 start -->
  <select id="findByIdSdId" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname ingredientName,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changetime changetTime,
    lc.changemode changeMode
    FROM librarychange lc
    LEFT JOIN
      ingredientbase ib
    ON
      lc.ingredientbaseid = ib.id
    WHERE lc.id=#{id} AND lc.sdid = #{sdId}
  </select>
  <!-- 根据试点id主表id获取食材核准信息 end -->

  <!-- CONCAT_WS(')',CONCAT_WS('(',CONCAT_WS('：',changetTime,ingredientName),meteringName),'') title, -->
  <!-- 根据日期查询库存信息 start -->
  <select id="findLibraryChanges" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname title,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changemode changeMode,
    lc.changetime start,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    lc.sdid sdId,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM librarychange lc
    LEFT JOIN
    ingredientbase ib
    ON
    lc.ingredientbaseid = ib.id
    <where>
      <if test="ingredientBaseId!=null">
        AND lc.ingredientbaseid = #{ingredientBaseId}
      </if>
      <if test="changeMode != null and changeMode != ''" >
        AND lc.changemode = #{changeMode}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND lc.changetime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lc.changetime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY lc.id DESC
  </select>
  <!-- 根据日期查询库存信息 end -->

  <!-- 分页查询库存信息总条数 start -->
  <select id="findLibraryPurchasesTotal" resultType="java.lang.Integer">
    SELECT
    count(lp.id)
    FROM librarypurchase lp
    LEFT JOIN
    ingredientbase ingBase
    ON
    lp.ingredientbaseid = ingBase.id
    LEFT JOIN
    categorybase cb1
    ON
    ingBase.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ingBase.smallcategoryid = cb2.id
    <where>
      <if test="startTime!=null and startTime!=''">
        AND lp.purchtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lp.purchtime &lt;= #{endTime}
      </if>
      <if test="mainCategoryId!=null">
        AND ingBase.maincategoryid =#{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ingBase.smallcategoryid =#{smallCategoryId}
      </if>
    </where>
  </select>
  <!-- 分页查询库存信息总条数 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->


</mapper>