<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.fqwgl.fqwgl.SlopsMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.fqwgl.fqwgl.Slops" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="recoverytime" property="recoveryTime" jdbcType="VARCHAR" />
    <result column="recyclingpersion" property="recyclingPersion" jdbcType="INTEGER" />
    <result column="recyclingquantity" property="recyclingQuantity" jdbcType="DECIMAL" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="foodphotos" property="foodPhotos" jdbcType="VARCHAR" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
    <result column="unitname" property="unitName" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="haveornotaptitude" property="haveOrNotAptitude" jdbcType="INTEGER" />
    <result column="recycleuse" property="recycleUse" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recoverytime, recyclingpersion, recyclingquantity,photo,foodphotos,sdid,unitname,address,phone,haveornotaptitude,
    recycleuse
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="recoveryTime != null and recoveryTime != ''" >
        recoverytime,
      </if>
      <if test="recyclingPersion != null" >
        recyclingpersion,
      </if>
      <if test="recyclingQuantity != null" >
        recyclingquantity,
      </if>
      <if test="photo != null and photo != ''" >
        photo,
      </if>
      <if test="foodPhotos != null and foodPhotos != ''" >
        foodphotos,
      </if>
      <if test="sdId != null" >
        sdid,
      </if>
      <if test="unitName != null and unitName != ''" >
        unitname,
      </if>
      <if test="address != null and address != ''" >
        address,
      </if>
      <if test="phone != null and phone != ''" >
        phone,
      </if>
      <if test="haveOrNotAptitude != null" >
        haveornotaptitude,
      </if>
      <if test="recycleUse != null and recycleUse != ''" >
        recycleuse,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="recoveryTime != null and recoveryTime != ''" >
        #{recoveryTime},
      </if>
      <if test="recyclingPersion != null" >
        #{recyclingPersion},
      </if>
      <if test="recyclingQuantity != null" >
        #{recyclingQuantity},
      </if>
      <if test="photo != null and photo != ''" >
        #{photo},
      </if>
      <if test="foodPhotos != null and foodPhotos != ''" >
        #{foodPhotos},
      </if>
      <if test="sdId != null" >
        #{sdId},
      </if>
      <if test="unitName != null and unitName != ''" >
        #{unitName},
      </if>
      <if test="address != null and address != ''" >
        #{address},
      </if>
      <if test="phone != null and phone != ''" >
        #{phone},
      </if>
      <if test="haveOrNotAptitude != null" >
        #{haveOrNotAptitude},
      </if>
      <if test="recycleUse != null and recycleUse != ''" >
        #{recycleUse},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="recoveryTime != null and recoveryTime != ''" >
        recoverytime = #{recoveryTime,jdbcType=VARCHAR},
      </if>
      <if test="recyclingPersion != null" >
        recyclingpersion = #{recyclingPersion,jdbcType=INTEGER},
      </if>
      <if test="recyclingQuantity != null" >
        recyclingquantity = #{recyclingQuantity,jdbcType=DECIMAL},
      </if>
      <if test="photo != null and photo != ''" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="foodPhotos != null and foodPhotos != ''" >
        foodphotos = #{foodPhotos,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        sdid = #{sdId,jdbcType=INTEGER},
      </if>
      <if test="unitName != null and unitName != ''" >
        unitname = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="address != null and address != ''" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="haveOrNotAptitude != null" >
        haveornotaptitude = #{haveOrNotAptitude,jdbcType=INTEGER},
      </if>
      <if test="recycleUse != null and recycleUse != ''" >
        recycleuse = #{recycleUse,jdbcType=VARCHAR},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!--平台当前月入库食材快检数量数据 start-->
  <select id="findWasteMonthBySdId" resultType="java.util.Map">
    SELECT
    COUNT(id) dataCount,
    DATE_FORMAT( recoverytime, '%Y-%m-%d' ) createTime
    FROM
    slops
    <where>
      AND DATE_FORMAT( recoverytime, '%Y%m' ) = #{selectYearMonth}
      GROUP BY DATE_FORMAT(recoverytime, '%Y-%m-%d')
      ORDER BY createTime ASC
    </where>
  </select>
  <!--平台当前月入库食材种类数量数据 end-->

  <!--平台当前日期票据，卫生证，合格证数量 start-->
  <select id="findCTByDateSdId" resultType="java.lang.Integer">
    SELECT
    COUNT(id)
    FROM
    temperature_data
    <where>
      <if test="status != null and status == '1'.toString()">
        AND stat = #{status}
      </if>
      <if test="status == null and status == '2'.toString()">
        AND stat &gt;= #{status}
      </if>
      AND DATE_FORMAT(time, '%Y-%m-%d') = DATE_FORMAT(#{choseDate}, '%Y-%m-%d')
    </where>
  </select>
  <!--平台当前日期票据，卫生证，合格证数量 end-->

  <!-- CONCAT_WS(')',CONCAT_WS('(',CONCAT_WS('：',changetTime,ingredientName),meteringName),'') title, -->
  <!-- 根据日期查询库存信息 start -->
  <select id="findLibraryChanges" resultType="java.util.Map">
    SELECT
    lc.id,
    ib.ingredientname title,
    ib.meteringname meteringName,
    lc.changenumber changeNumber,
    lc.changeremarks changeRemarks,
    lc.changepeople changePeople,
    lc.changemode changeMode,
    lc.changetime start,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    lc.sdid sdId,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM librarychange lc
    LEFT JOIN
    ingredientbase ib
    ON
    lc.ingredientbaseid = ib.id
    <where>
      <if test="ingredientBaseId!=null">
        AND lc.ingredientbaseid = #{ingredientBaseId}
      </if>
      <if test="changeMode != null and changeMode != ''" >
        AND lc.changemode = #{changeMode}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND lc.changetime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lc.changetime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY lc.id DESC
  </select>
  <!-- 根据日期查询库存信息 end -->

  <!-- 分页查询库存信息总条数 start -->
  <select id="findLibraryPurchasesTotal" resultType="java.lang.Integer">
    SELECT
    count(lp.id)
    FROM librarypurchase lp
    LEFT JOIN
    ingredientbase ingBase
    ON
    lp.ingredientbaseid = ingBase.id
    LEFT JOIN
    categorybase cb1
    ON
    ingBase.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ingBase.smallcategoryid = cb2.id
    <where>
      <if test="startTime!=null and startTime!=''">
        AND lp.purchtime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND lp.purchtime &lt;= #{endTime}
      </if>
      <if test="mainCategoryId!=null">
        AND ingBase.maincategoryid =#{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ingBase.smallcategoryid =#{smallCategoryId}
      </if>
    </where>
  </select>
  <!-- 分页查询库存信息总条数 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->


</mapper>