<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhixiangmain.dao.cgcc.scrk.WarehouseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.zhixiangmain.api.module.cgcc.scrk.WarehouseDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="batchnum" property="batchNum" jdbcType="VARCHAR" />
    <result column="ingredientid" property="ingredientId" jdbcType="INTEGER" />
    <result column="warehoucount" property="warehouCount" jdbcType="DECIMAL" />
    <result column="unitprice" property="unitPrice" jdbcType="DECIMAL" />
    <result column="totalprice" property="totalPrice" jdbcType="DECIMAL" />
    <result column="productiondate" property="productionDate" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="revenueweight" property="revenueWeight" jdbcType="DECIMAL" />
    <result column="ingredientwhouseid" property="ingredientWhouseId" jdbcType="INTEGER" />
    <result column="mainaccountid" property="mainAccountId" jdbcType="INTEGER" />
    <result column="ingredientsuppid" property="ingredientSuppid" jdbcType="INTEGER" />
    <result column="cttime" property="ctTime" jdbcType="VARCHAR" />
    <result column="modelsinfo" property="modelsInfo" jdbcType="VARCHAR" />
    <result column="sourceoperation" property="sourceOperation" jdbcType="VARCHAR" />
    <result column="sourceinfo" property="sourceInfo" jdbcType="VARCHAR" />
    <result column="sdid" property="sdId" jdbcType="INTEGER" />
    <result column="sourcehandle" property="sourceHandle" jdbcType="VARCHAR" />
    <result column="inventorybalance" property="inventoryBalance" jdbcType="DECIMAL" />
    <result column="inventorystatus" property="inventoryStatus" jdbcType="VARCHAR" />
    <result column="inventorytimehour" property="inventoryTimeHour" jdbcType="VARCHAR" />
    <result column="foodpictures" property="foodPictures" jdbcType="VARCHAR" />
    <result column="notepictures" property="notePictures" jdbcType="VARCHAR" />
    <result column="sanitarycertificate" property="sanitaryCertificate" jdbcType="VARCHAR" />
    <result column="certificateofsoundness" property="certificateOfSoundness" jdbcType="VARCHAR" />
    <result column="objectcardunify" property="objectCardUnify" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batchnum, ingredientid, warehoucount,unitprice,totalprice,productiondate,weight,revenueweight,ingredientwhouseid,
    mainaccountid,ingredientsuppid,cttime,modelsinfo,sourceoperation,sourceinfo,sourcehandle,sdid,inventorybalance,inventorystatus,
    inventorytimehour,foodpictures,notepictures,sanitarycertificate,certificateofsoundness,objectcardunify
  </sql>

  <!-- 定义sql片段，且唯一 动态insert start -->
  <sql id="insertAllKey">
    <trim suffixOverrides=",">
      <if test="batchNum != null and batchNum != ''" >
        batchnum,
      </if>
      <if test="ingredientId != null" >
        ingredientid,
      </if>
      <if test="warehouCount != null" >
        warehoucount,
      </if>
      <if test="unitPrice != null" >
        unitprice,
      </if>
      <if test="totalPrice != null" >
        totalprice,
      </if>
      <if test="productionDate != null and productionDate != ''" >
        productiondate,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="revenueWeight != null" >
        revenueweight,
      </if>
      <if test="ingredientWhouseId != null" >
        ingredientwhouseid,
      </if>
      <if test="mainAccountId != null" >
        mainaccountid,
      </if>
      <if test="ingredientSuppid != null" >
        ingredientsuppid,
      </if>
      <if test="ctTime != null and ctTime != ''" >
        cttime,
      </if>
      <if test="modelsInfo != null and modelsInfo != ''" >
        modelsinfo,
      </if>
      <if test="sourceOperation != null and sourceOperation != '' " >
        sourceoperation,
      </if>
      <if test="sourceInfo != null and sourceInfo != ''" >
        sourceinfo,
      </if>
      <if test="sourceHandle != null and sourceHandle != ''" >
        sourcehandle,
      </if>
      <if test="sdId != null" >
        sdid,
      </if>
      <if test="inventoryBalance != null" >
        inventorybalance,
      </if>
      <if test="inventoryStatus != null and inventoryStatus != ''" >
        inventorystatus,
      </if>
      <if test="inventoryTimeHour != null and inventoryTimeHour != ''" >
        inventorytimehour,
      </if>
      <if test="foodPictures != null and foodPictures != ''" >
        foodpictures,
      </if>
      <if test="notePictures != null and notePictures != ''" >
        notepictures,
      </if>
      <if test="sanitaryCertificate != null and sanitaryCertificate != ''" >
        sanitarycertificate,
      </if>
      <if test="certificateOfSoundness != null and certificateOfSoundness != ''" >
        certificateofsoundness,
      </if>
      <if test="objectCardUnify != null and objectCardUnify != ''" >
        objectcardunify,
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 动态insert end -->

  <!-- 定义sql片段，且唯一 value值 start -->
  <sql id="insertAllValue">
    <trim suffixOverrides=",">
      <if test="batchNum != null and batchNum != ''" >
        #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="ingredientId != null" >
        #{ingredientId,jdbcType=INTEGER},
      </if>
      <if test="warehouCount != null" >
        #{warehouCount,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="productionDate != null and productionDate != ''" >
        #{productionDate,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="revenueWeight != null" >
        #{revenueWeight,jdbcType=DECIMAL},
      </if>
      <if test="ingredientWhouseId != null" >
        #{ingredientWhouseId,jdbcType=INTEGER},
      </if>
      <if test="mainAccountId != null" >
        #{mainAccountId,jdbcType=INTEGER},
      </if>
      <if test="ingredientSuppid != null" >
        #{ingredientSuppid,jdbcType=INTEGER},
      </if>
      <if test="ctTime != null and ctTime != ''" >
        #{ctTime,jdbcType=VARCHAR},
      </if>
      <if test="modelsInfo != null and modelsInfo != ''" >
        #{modelsInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOperation != null and sourceOperation != '' " >
        #{sourceOperation,jdbcType=VARCHAR},
      </if>
      <if test="sourceInfo != null and sourceInfo != ''" >
        #{sourceInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceHandle != null and sourceHandle != ''" >
        #{sourceHandle,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        #{sdId,jdbcType=INTEGER},
      </if>
      <if test="inventoryBalance != null" >
        #{inventoryBalance,jdbcType=DECIMAL},
      </if>
      <if test="inventoryStatus != null and inventoryStatus != ''" >
        #{inventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTimeHour != null and inventoryTimeHour != ''" >
        #{inventoryTimeHour,jdbcType=VARCHAR},
      </if>
      <if test="foodPictures != null and foodPictures != ''" >
        #{foodPictures,jdbcType=VARCHAR},
      </if>
      <if test="notePictures != null and notePictures != ''" >
        #{notePictures,jdbcType=VARCHAR},
      </if>
      <if test="sanitaryCertificate != null and sanitaryCertificate != ''" >
        #{sanitaryCertificate,jdbcType=VARCHAR},
      </if>
      <if test="certificateOfSoundness != null and certificateOfSoundness != ''" >
        #{certificateOfSoundness,jdbcType=VARCHAR},
      </if>
      <if test="objectCardUnify != null and objectCardUnify != ''" >
        #{objectCardUnify,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>
  <!-- 定义sql片段，且唯一 value值 end -->

  <!-- 定义更新sql片段，且唯一 value值 start -->
  <sql id="updateAllValue">
    <trim suffixOverrides=",">
      <if test="batchNum != null and batchNum != ''" >
        batchnum = #{batchNum,jdbcType=VARCHAR},
      </if>
      <if test="ingredientId != null" >
        ingredientid = #{ingredientId,jdbcType=INTEGER},
      </if>
      <if test="warehouCount != null" >
        warehoucount = #{warehouCount,jdbcType=DECIMAL},
      </if>
      <if test="unitPrice != null" >
        unitprice = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        totalprice = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="productionDate != null and productionDate != ''" >
        productiondate = #{productionDate,jdbcType=VARCHAR},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="revenueWeight != null" >
        revenueweight = #{revenueWeight,jdbcType=DECIMAL},
      </if>
      <if test="ingredientWhouseId != null" >
        ingredientwhouseid = #{ingredientWhouseId,jdbcType=INTEGER},
      </if>
      <if test="mainAccountId != null" >
        mainaccountid = #{mainAccountId,jdbcType=INTEGER},
      </if>
      <if test="ingredientSuppid != null" >
        ingredientsuppid = #{ingredientSuppid,jdbcType=INTEGER},
      </if>
      <if test="ctTime != null and ctTime != ''" >
        cttime = #{ctTime,jdbcType=VARCHAR},
      </if>
      <if test="modelsInfo != null and modelsInfo != ''" >
        modelsinfo = #{modelsInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceOperation != null and sourceOperation != '' " >
        sourceoperation = #{sourceOperation,jdbcType=VARCHAR},
      </if>
      <if test="sourceInfo != null and sourceInfo != ''" >
        sourceinfo = #{sourceInfo,jdbcType=VARCHAR},
      </if>
      <if test="sourceHandle != null and sourceHandle != ''" >
        sourcehandle = #{sourceHandle,jdbcType=VARCHAR},
      </if>
      <if test="sdId != null" >
        sdid = #{sdId,jdbcType=INTEGER},
      </if>
      <if test="inventoryBalance != null" >
        inventorybalance = #{inventoryBalance,jdbcType=DECIMAL},
      </if>
      <if test="inventoryStatus != null and inventoryStatus != ''" >
        inventorystatus = #{inventoryStatus,jdbcType=VARCHAR},
      </if>
      <if test="inventoryTimeHour != null and inventoryTimeHour != ''" >
        inventorytimehour = #{inventoryTimeHour,jdbcType=VARCHAR},
      </if>
      <if test="foodPictures != null and foodPictures != ''" >
        foodpictures = #{foodPictures,jdbcType=VARCHAR},
      </if>
      <if test="notePictures != null and notePictures != ''" >
        notepictures = #{notePictures,jdbcType=VARCHAR},
      </if>
      <if test="sanitaryCertificate != null and sanitaryCertificate != ''" >
        sanitarycertificate = #{sanitaryCertificate,jdbcType=VARCHAR},
      </if>
      <if test="certificateOfSoundness != null and certificateOfSoundness != ''" >
        certificateofsoundness = #{certificateOfSoundness,jdbcType=VARCHAR},
      </if>
      <if test="objectCardUnify != null and objectCardUnify != ''" >
        objectcardunify = #{objectCardUnify,jdbcType=INTEGER},
      </if>
    </trim>
  </sql>
  <!-- 定义更新sql片段，且唯一 value值 end -->

  <!-- 根据日期查询入库信息 start -->
  <select id="findWarehouseDetails" resultType="java.util.Map">
    SELECT
    wd.id,
    wd.batchnum batchNum,
    wd.productiondate productionDate,
    wd.inventorytimehour inventoryTimeHour,
    wd.unitprice unitPrice,
    wd.notepictures notePictures,
    wd.cttime start,
    wd.sdid sdId,
    ma.accountinfo accountInfo,
    iw.whname whName,
    isu.suppliername supplierName,
    ib.ingredientname title,
    ib.meteringname meteringName,
    ib.scspimgpath scspImgPath,
    ib.ggxh,ggxh,
    ib.ggxhdw ggxhDW,
    cb1.categoryname mainCategoryName,
    cb2.categoryname smallCategoryName,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') backgroundColor,
    CONCAT_WS('',CONCAT_WS( ',', CONCAT_WS('','rgb(', FLOOR(0 + (RAND() * 255))),FLOOR(0 + (RAND() * 255)),FLOOR(0 + (RAND() * 255)) ),')') borderColor,
    #{siteName} as siteName,
    #{sitePhoto} as sitePhoto
    FROM warehousdetails wd
    LEFT JOIN
    mainaccount ma
    ON
    wd.mainaccountid = ma.id
    INNER JOIN
    ingredientwhouse iw
    ON
    wd.ingredientwhouseid = iw.id
    LEFT JOIN
    ingredientsupp isu
    ON
    wd.ingredientsuppid = isu.id
    LEFT JOIN
    ingredientbase ib
    ON
    wd.ingredientid = ib.id
    LEFT JOIN
    categorybase cb1
    ON
    ib.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ib.smallcategoryid = cb2.id
    <where>
      <if test="mainAccountId!=null">
        AND wd.mainaccountid = #{mainAccountId}
      </if>
      <if test="suppId!=null">
        AND wd.ingredientsuppid = #{suppId}
      </if>
      <if test="mainCategoryId != null" >
        AND ib.maincategoryid = #{mainCategoryId}
      </if>
      <if test="smallCategoryId!=null">
        AND ib.smallcategoryid = #{smallCategoryId}
      </if>
      <if test="startTime!=null and startTime!=''">
        AND wd.cttime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND wd.cttime &lt;= #{endTime}
      </if>
    </where>
    ORDER BY wd.id DESC
  </select>
  <!-- 根据日期查询入库信息 end -->

  <!-- 根据id、sdId查询入库信息 start -->
  <select id="findWarehouseDetailByIdSdId" resultType="java.util.Map">
    SELECT
    wd.id,
    wd.batchnum batchNum,
    wd.productiondate productionDate,
    wd.inventorytimehour inventoryTimeHour,
    wd.unitprice unitPrice,
    wd.notepictures notePictures,
    wd.certificateofsoundness certificateOfSoundness,
    wd.cttime ctTime,
    wd.sdid sdId,
    ma.accountinfo accountInfo,
    iw.whname whName,
    isu.suppliername supplierName,
    ib.ingredientname ingredientName,
    ib.meteringname meteringName,
    ib.scspimgpath scspImgPath,
    ib.ggxh,ggxh,
    ib.ggxhdw ggxhDW,
    cb1.categoryname mainCategoryName,
    <trim suffixOverrides=",">
      <if test="siteName != null and siteName != ''" >
        #{siteName} as siteName,
      </if>
      <if test="sitePhoto != null and sitePhoto != ''" >
        #{sitePhoto} as sitePhoto,
      </if>
    </trim>
    cb2.categoryname smallCategoryName
    FROM warehousdetails wd
    LEFT JOIN
    mainaccount ma
    ON
    wd.mainaccountid = ma.id
    INNER JOIN
    ingredientwhouse iw
    ON
    wd.ingredientwhouseid = iw.id
    LEFT JOIN
    ingredientsupp isu
    ON
    wd.ingredientsuppid = isu.id
    LEFT JOIN
    ingredientbase ib
    ON
    wd.ingredientid = ib.id
    LEFT JOIN
    categorybase cb1
    ON
    ib.maincategoryid = cb1.id
    LEFT JOIN
    categorybase cb2
    ON
    ib.smallcategoryid = cb2.id
    where wd.id = #{id} AND wd.sdid = #{sdId}
  </select>
  <!-- 根据id、sdId查询入库信息 end -->

  <!-- 开放的分页查询 start -->
  <select id="findBasicInfoFoodById" resultType="java.lang.String">
    SELECT
    concat(w.unitprice,'元/',i.meteringname)
    FROM
    warehousdetails w
    INNER JOIN
    ingredientbase i
    on
    w.ingredientid=i.id
    <where>
      AND cttime = (SELECT max(cttime) FROM warehousdetails where ingredientid=${id}) ORDER BY w.id DESC
    </where>
  </select>
  <!-- 开放的分页查询 end -->

  <!--平台当前月入库食材临期种类数量数据 start-->
  <select id="findIBMMonthBySdId" resultType="java.util.Map">
    SELECT
    COUNT(id) dataCount,
    DATE_FORMAT( inventorytimehour, '%Y-%m-%d' ) createTime
    FROM
    warehousdetails
    <where>
      AND inventorystatus = '3'
      AND DATE_FORMAT( inventorytimehour, '%Y%m' ) = DATE_FORMAT( CURDATE( ), '%Y%m' )
      GROUP BY DATE_FORMAT(inventorytimehour, '%Y-%m-%d')
      ORDER BY createTime ASC
    </where>
  </select>
  <!--平台当前月入库食材种类数量数据 end-->

  <!--获取食材入库重量 start-->
  <select id="findWeightByIngBaseId" resultType="java.lang.Double">
    SELECT
      IFNULL(SUM(revenueweight),0.0) revenueWeight
    FROM
      warehousdetails
    <where>
      AND ingredientid = #{ingredientId}
      <if test="startTime!=null and startTime!=''">
        AND cttime &gt;= #{startTime}
      </if>
      <if test="endTime!=null and endTime!=''">
        AND cttime &lt;= #{endTime}
      </if>
    </where>
  </select>
  <!--获取食材入库重量 end-->

  <!-- 不开放的分页查询 start -->
  <select id="findInsideFoodBaseList" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.dto.FoodBaseDTO" resultType="java.util.Map">
    SELECT
    fb.id,
    fb.scspimgpath scspImgPath,
    fb.foodname foodName,
    fb.menutype menuType,
    fb.meteringname meteringName,
    fb.price,
    fb.weight,
    fb.check_status checkStatus
    FROM foodbase fb
    <where>
      AND fb.deletestatus = '1'
      <if test="menuTypeDto!=null and menuTypeDto!=''">
        AND fb.menutype &amp; #{menuTypeDto}
      </if>
      <if test="foodNameDto != null and foodNameDto != ''">
        AND fb.foodname like CONCAT('%', #{foodNameDto} , '%')
      </if>
    </where>
    ORDER BY id DESC
  </select>
  <!-- 不开放的分页查询 end -->

  <!-- 校验食材名是否存在 start -->
  <select id="checkNameTotal" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" resultType="java.lang.Object">
    SELECT
      IFNULL(id,0)
    FROM
      foodbase
    <where>
      <if test="sdId!=null and sdId!=22">
        AND sdid = #{sdId}
      </if>
      AND foodname = #{foodName} AND deletestatus = '1'
    </where>
  </select>
  <!-- 校验食材名是否存在 end -->

  <!-- 新增食材 start -->
  <insert id="addFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    insert into foodbase(<include refid="insertAllKey"/>) values(<include refid="insertAllValue"/>);
  </insert>
  <!-- 新增食材 end -->

  <!-- 更新食材 start -->
  <update id="updateFoodBase" parameterType="com.zhixiangmain.api.module.cpjs.zdcpbom.FoodBase" >
    update foodbase
    <set >
      <include refid="updateAllValue"/>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 更新食材 end -->

  <!-- 根据id查找食材 start -->
  <select id="findFoodBaseById" resultType="java.util.Map">
    SELECT
    fb.id,
    fb.scspimgpath scspImgPath,
    fb.foodname foodName,
    fb.menutype menuType,
    fb.meteringname meteringName,
    fb.price,
    fb.weight,
    fb.check_status checkStatus,
    fb.foodcontext foodContext
    FROM foodbase fb
    <where>
      <if test="sdId!=null and sdId!=22">
        AND sdid = #{sdId}
      </if>
      AND id=#{id}
    </where>
  </select>
  <!-- 根据id查找食材 end -->

  <!-- 根据id删除食材 start -->
  <delete id="delFoodBaseById">
    DELETE
    FROM
    foodbase
    <where>
      <if test="sdId!=null and sdId!=22">
        AND sdid = #{sdId}
      </if>
      AND id=#{id}
    </where>
  </delete>
  <!-- 根据id删除食材 end -->

  <!-- 根据id查找食材 start -->
  <select id="getBasicInfoFoodByIds" resultType="java.util.Map">
    SELECT
    ingredientname ingredientName,
    meteringname meteringName,edTerm,
    maincategoryid mainCategoryId,
    smallcategoryid smallCategoryId,
    scspimgpath scspimgPath,
    ratedterm ratedTerm
    ratedtermdw ratedTermDW,
    check_status checkStatus,
    baseprice basePrice,
    inventorylimit inventoryLimit,
    ggxh,
    ggxhdw,
    suppid suppId,
    whouseid whouseId,
    boomtype boomType,
    bigcategory bigCategory,
    level level
    FROM
    ingredientbase
    <where>
      id=#{id}
    </where>
  </select>
  <!-- 根据id查找食材 end -->


</mapper>